<!doctype html>
<html lang="ja">
<head>
    <title>大塚研究室　出席管理アプリ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <nav class="app_name">
        大塚研究室　出席管理アプリ
    </nav>

</head>
<body>

<div class="container-fluid maxsize">
    <br>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">メニュー</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: #f5f4e5;" href="{% url 'attendance:attendance_list' %}">　出席状態　</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f5f4e5;" href="{% url 'attendance:search' %}">　検索　</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f5f4e5;" href="{% url 'attendance:user_create' %}">　ユーザ登録　</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f5f4e5;" href="{% url 'attendance:fingerprint_create' %}">　指紋登録　</a>
                </li>
            </ul>
        </div>
    </nav> 

    {% block body %}
    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</body>

<footer>
    <div class="lab_footer">
        <div>&copy; otsukalab</div>
    </div>
</footer>

</html>