{% extends "base.html" %}
{% block body %}

{% load static %}
<script src="{% static 'node_modules/chart.js/dist/chart.js' %}"></script>
<script src="{% static 'node_modules/chart.js/dist/chart.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/moment@2.29.1,npm/chartjs-adapter-moment@1.0.0"></script>
<link rel="stylesheet" href="{% static 'css/analytics.css' %}">

<div class="attend_chart">
  <h2>  過去30日間 の 平均出席時間</h2>
  <canvas id="chart"></canvas>
  <script>
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ label | safe }} ,
        datasets: [{
          data: {{ data | safe }},
          backgroundColor: [
            '#75998a'
          ],
          borderColor: [
            '#75998a'
          ],
          borderWidth: 1, 
        }]
      },
      options: {
        scales: {
          y: {
            scaleLabel: {
              display: true,
              labelString: '時間'
            },
            type : 'time',
            time : {
              parser: 'HH:mm',
              unit : 'hour',
              StepSize : 1,
              min: '09:00',
              max: '17:00',
              displayFormats : {
                'hour' : 'HH:mm'
              },
            },
          }
        },
        plugins: {
          legend : {// 凡例の非表示
            display : false
          }
        },
      },
    })
  </script>
</div>

{% endblock %}