{% extends "base.html" %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/attendance_list.css' %}">

<div class="attend_info">

    <table class="table table-hover">
    <thead>
        <tr>
            <th>学籍番号</th>
            <th>名前</th>
            <th>コメント</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>最終更新日時</th>
        </tr>
    </thead>
    <tbody>
        {% for i in labattendancetb_list %}
            <tr>
                <td>{{ i.user_id }}</td>
                <td><div class="default">{{ i.user_name }}</div></td>

                    {% if i.comment is None %} <td></td>
                    {% else %} <td>{{ i.comment }}</td>
                    {% endif %}

                    <td>
                        <a href="{% url 'attendance:comment_update' i.pk %}" class="btn btn-outline-secondary py-0" role="button" style="color:#4b6d6e; border-color: #4b6d6e" >
                            編集
                        </a>
                    </td>

                    {% if i.status == "attend" and i.room_id == "16_421" %}
                        <td><div class="attend_badge">421号室</div></td>
                    {% else %}
                        <td><div class="gray_badge">421号室</div></td>
                    {% endif %}

                    {% if i.status == "attend" and i.room_id == "16_422" %}
                        <td><div class="attend_badge">422号室</span></td>
                    {% else %}
                        <td><div class="gray_badge">422号室</div></td>
                    {% endif %}

                    {% if i.status == "attend" and i.room_id == "16_321" %}
                        <td><div class="attend_badge">工作室</span></td>
                    {% else %}
                        <td><div class="gray_badge">工作室</div></td>
                    {% endif %}

                    {% if i.status == "lab out" %}
                        <td><div class="labout_badge">外出</div></td>
                    {% else %}
                        <td><div class="gray_badge">外出</div></td>
                    {% endif %}

                    {% if i.status == "absent" %}
                        <td><div class="absent_badge">退席</div></td>
                    {% else %}
                        <td><div class="gray_badge">退席</div></td>
                    {% endif %}

                    <td>{{ i.update_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="tip">
    <p>今日の豆知識</p>
    <div class = "tip_text"> 「{{text}}」 </div>
    <div class = "tip_image">
        <img src="{% static image_name %}" class="image_size">
    </div>
</div>
{% endblock %}
