{% extends 'base.html' %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">


<h2>検索条件</h2>
<div class="serch_condition">
    <form method="POST">
        {% csrf_token %}
        {% for field in test_form %}
            <div class="form-group form-inline">
                <label>{{ field.label }}:　</label>
                <div>
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="button_wrapper" align=right>
            <input class="btn btn-dark" type="submit" id="button" name="button" value="検索">
        </div>
        
    </form>
</div>

<h2>検索結果</h2>
<div class="serch_result">
    <section class="post-list">
        {% if object_list|length == 0 %}
            <p>検索結果が存在しません。</p>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>部屋番号</th>
                        <th>出席状態</th>
                        <th>コメント</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in object_list %}
                    <tr>
                        <td> {{ post.user_name }} </td>
                        
                        {% if post.room_id is None %} <td></td>
                        {% else %} <td>{{ post.room_id }}</td>
                        {% endif %}

                        {% if post.status == "attend" %} <td>出席</td>
                        {% elif post.status == "absent" %} <td>退席</td>
                        {% elif post.status == "lab out" %} <td>外出</td>
                        {% else %} <td></td>
                        {% endif %}

                        {% if post.comment is None %} <td></td>
                        {% else %} <td>{{ post.comment }}</td>
                        {% endif %}
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
</div>
{% endblock %}