.attend_info {
    padding: 10px 10px 10px 10px;
}

.table > thead > tr{
    border:2px solid #a5bdb3;
    background-color: #b1c5bd;
}

.table > tbody {
    padding: 10px 10px 10px 10px;
}

.table > tbody > tr{
    border:2px solid #d1d0d0;
}

.gray-backend {
    background-color: #d1d0d0;
}
