.app_name{
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #4b6d6e;
    text-align: center;
}

body {
    background-color: #ebeadb;
}

.container{
    background-color: #f8f7ea;
    border-radius: 20px;
}

.navbar{
    background-color: #a5bdb3;
    border-radius: 10px;
    padding: 0;
}

.navbar-brand{
    padding-left: 20px;
    font-size: 20px;
}

.nav-item{
    padding: 10px 10px 0px 10px;
}

.nav-link{
    font-size: 23px;
    font-weight: normal;
    background-color: #75998a;
    border-radius: 8px 8px 0px 0px;
}

footer{
    margin-top: 20px;
}
.lab_footer{
    text-align: center;
}